In [5]:
# Dependencies for pandas table extraction
import pandas as pd

In [6]:
file_path = "Resources/occ-15-1111.xlsx"
outlook_df = pd.read_excel(file_path)

In [7]:
outlook_df.head()

,"Employment by industry, occupation, and percent distribution, 2016 and projected 2026",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,15-1111 Computer and information research scie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Employment in thousands)\nIndustries with few...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Industry,NaN,2016,NaN,NaN,2026,NaN,NaN,NaN,NaN,NaN,NaN
3,Sort Order,Code,Title,Employment,Percent of industry,Percent of occupation,Employment,Percent of industry,Percent of occupation,Percent change,Employment change,Industry level,Industry type
4,1,TE1000,Total employment,27.9,0,100,33.2,0,100,19.2,5.4,0,Summary